@model TagIndexViewModel

<div class="row">
    <div class="col">
        <div class="tag-cloud">

            @foreach (var tag in Model.Tags)
            {
                <a asp-action="Index" asp-controller="Search" asp-route-query="[@tag.Label]" class="badge bg-primary badge-tag @Model.GetClass(tag)">@tag.Label <span class="badge bg-dark">@tag.UseCount</span></a>
            }

        </div>
    </div>
</div>
