.link h2 {
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link-edit {
    font-size: 0.8rem;
}

.link-abstract {
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
}

.tag-links {
    margin-bottom: 2rem;
}
