.tag-cloud {
    padding: 30px 0;
    text-align: center;
}

.badge-tag {
    margin: 3px 5px;
    padding: .35em .40em .35em .65em;
    .badge {
        margin-left: 10px;
    }
}

.badge-tag-xs {
    font-size: 0.9em;
}

.badge-tag-sm {
    font-size: 2em;
}

.badge-tag-md {
    font-size: 3em;
}

.badge-tag-lg {
    font-size: 4em;
}

.badge-tag-xl {
    font-size: 5em;
}

.tag-links, .tag-cloud, .query-tags {
    .badge {
        margin-right: 6px;
    }

    a:link, a:visited, a:hover, a:active {
        color: #ffffff;
    }

    a.bg-primary:hover {
        background-color: darken(#0d6efd, 20%) !important;
    }

    a.bg-secondary:hover {
        background-color: darken(#6c757d, 20%) !important;
    }
}
