@model Linx.Models.Shared.ListViewLinkViewModel

<div class="link">
    <h2><a href="@Model.Link.Url">@Model.Link.Title</a> <a class="link-edit" asp-controller="Links" asp-action="Update" asp-route-id="@Model.Link.ID">Edit</a></h2>

    <p class="link-abstract">@Model.Link.Abstract</p>

    <tag-badges tags="Model.Link.Tags" pagination="Model.Pagination" container-classes="tag-links" badge-classes="badge bg-primary" copy-button="true" />
</div>
