@model IndexViewModel

<p>@Model.Total links</p>

<nav aria-label="Page navigation example">
    <ul class="pagination">
        @if (Model.Page > 1)
        {
            <li class="page-item"><a class="page-link" href="/?page=@(Model.Page - 1)&pageSize=@(Model.PageSize)">Previous</a></li>
        }
        else
        {
            <li class="page-item disabled"><a class="page-link" href="/?page=1&pageSize=@(Model.PageSize)">Previous</a></li>
        }
        @foreach (var i in Enumerable.Range(1, Model.Pages))
        {
            <li class="page-item @(i == Model.Page ? "active" : string.Empty)"><a class="page-link" href="/?page=@(i)&pageSize=@(Model.PageSize)">@(i)</a></li>
        }
        @if (Model.Page < Model.Pages)
        {
            <li class="page-item"><a class="page-link" href="/?page=@(Model.Page + 1)&pageSize=@(Model.PageSize)">Next</a></li>
        }
        else
        {
            <li class="page-item disabled"><a class="page-link" href="/?page=@(Model.Pages)&pageSize=@(Model.PageSize)">Next</a></li>
        }
    </ul>
</nav>

@foreach (var link in Model.Links)
{
    <partial name="_ListViewLink" model="link" />
}

@section scripts {
    <script src="~/js/dist/index.js" asp-append-version="true"></script>
}
