@model UpdateViewModel

<div class="row">
    <div class="col">
        <h1>Create Page</h1>
        <form asp-controller="Links" asp-action="Update" method="post">
            <div class="form-group">
                <label asp-for="Title">Title</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title"></span>
            </div>

            <div class="form-group">
                <label asp-for="Url">Url</label>
                <input asp-for="Url" class="form-control" />
                <span asp-validation-for="Url"></span>
            </div>

            <div class="form-group">
                <label asp-for="Abstract">Abstract</label>
                <textarea asp-for="Abstract" class="form-control"></textarea>
                <span asp-validation-for="Abstract"></span>
            </div>

            <div class="form-group">
                <label asp-for="Tags">Tags</label>
                <input asp-for="Tags" class="form-control tag-input" />
                <span asp-validation-for="Tags"></span>
            </div>

            <input asp-for="ID" type="hidden" />

            <div class="form-group form-group-submit">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>

        <hr />

        <form asp-controller="Links" asp-action="Delete" method="post">
            <input asp-for="ID" type="hidden" />

            <div class="form-group form-group-submit">
                <button type="submit" class="btn btn-danger">Delete</button>
            </div>
        </form>
    </div>
</div>

@section globals {
    <script>
        var _ALL_TAGS = @Html.Raw(Model.TagDataJson);
    </script>
}

@section scripts {
    <script src="~/js/dist/taginput.js" asp-append-version="true"></script>
}