.field-validation-error {
    color: #cc0000;
}

body {
    padding-top: 5rem;
    background-color: #e0e0e0;
}

a {
    text-decoration: none;
}

.btn-group .btn-outline-primary:not(:last-child) {
    border-right: none;
}

.pagination {
    margin-bottom: 0;
}

.page-item .page-link {
    border: #ff0000;
}

.page-item.disabled .page-link {
    border: #ff0000;
    background: none;
}

.link h2 {
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link-edit {
    font-size: 0.8rem;
}

.link-abstract {
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
}

.tag-links {
    margin-bottom: 2rem;
}

.tag-cloud {
    padding: 30px 0;
    text-align: center;
}

.badge-tag {
    margin: 3px 5px;
    padding: .35em .40em .35em .65em;
}

.badge-tag .badge {
    margin-left: 10px;
}

.badge-tag-xs {
    font-size: 0.9em;
}

.badge-tag-sm {
    font-size: 2em;
}

.badge-tag-md {
    font-size: 3em;
}

.badge-tag-lg {
    font-size: 4em;
}

.badge-tag-xl {
    font-size: 5em;
}

.tag-links .badge, .tag-cloud .badge, .query-tags .badge {
    margin-right: 6px;
}

.tag-links a:link, .tag-links a:visited, .tag-links a:hover, .tag-links a:active, .tag-cloud a:link, .tag-cloud a:visited, .tag-cloud a:hover, .tag-cloud a:active, .query-tags a:link, .query-tags a:visited, .query-tags a:hover, .query-tags a:active {
    color: #ffffff;
}

.tag-links a.bg-primary:hover, .tag-cloud a.bg-primary:hover, .query-tags a.bg-primary:hover {
    background-color: #0143a3 !important;
}

.tag-links a.bg-secondary:hover, .tag-cloud a.bg-secondary:hover, .query-tags a.bg-secondary:hover {
    background-color: #3d4246 !important;
}

.mab-bootstrap-taginput {
    display: flex;
    cursor: text;
}

.mab-bootstrap-taginput.form-control {
    line-height: normal;
}

.mab-bootstrap-taginput-tag {
    color: #fff;
    background-color: #007bff;
    display: inline-flex;
    align-items: center;
    padding: .25em .4em;
    font-size: 90%;
    font-weight: 700;
    white-space: nowrap;
    border-radius: .25rem;
    margin-right: 5px;
    transition: background-color 1600ms ease-in;
}

.mab-bootstrap-taginput-tag .bi {
    margin-left: 5px;
    cursor: pointer;
    display: flex;
}

.mab-bootstrap-taginput-tag-warning {
    background-color: #cc0000;
    transition: none;
}

.mab-bootstrap-taginput-input {
    border: solid 1px transparent;
    outline: none;
    width: 100px;
    text-transform: lowercase;
}

.mab-bootstrap-taginput-input.mab-bootstrap-taginput-input-multicase {
    text-transform: none;
}

.mab-bootstrap-taginput-input.mab-bootstrap-taginput-input-narrowed {
    width: 1px;
}

.mab-bootstrap-taginput-input-container {
    position: relative;
}

.mab-bootstrap-taginput-suggestions {
    position: absolute;
    top: 30px;
    left: 0;
    min-width: 200px;
    min-height: 30px;
    background-color: #fff;
    border: solid 1px #e0e0e0;
    border-radius: 3px;
    padding: 3px 0;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    z-index: 10000;
}

.mab-bootstrap-taginput-suggestions-hidden {
    display: none;
}

.mab-bootstrap-taginput-suggestion {
    padding: 5px 10px;
    cursor: pointer;
}

.mab-bootstrap-taginput-suggestion-selected,
.mab-bootstrap-taginput-suggestion:hover {
    background-color: #007bff;
    color: #fff;
}
